.aui-btn-outer{
    border: 1px;
    border-radius: 5px;
    width: fit-content;
    height: auto;
    padding: 5px;
    background-color: #dddddd;
    .aui-btn-inner{
        height: auto;
        border: 0px;
        background-color: #f2b535;
        -webkit-text-fill-color: transparent;
        -webkit-animation: common-animation 2s infinite linear;
    }
    
}