.aui-btn{
    height: auto;
    border:0;
    background-color: #f2b535;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    cursor: pointer;
}