body {
    padding: 0px;
    margin: 0px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

#app {
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}

h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: pointer;
}

h2, h3 {
    font-size: 16px;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

@-webkit-keyframes common-animation {
    0% {
        background: #cddc39;
        -webkit-background-clip: text;
    }

    50% {
        background: #ff9800;
        -webkit-background-clip: text;
    }

    100% {
        background: #cddc39;
        -webkit-background-clip: text;
    }
}

.home-page {
    .header {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 60px;
        padding: 10px 0;

        .container {
            position: relative;

            h1 {
                position: absolute;
                left: 3%;
                font-family: fantasy;
                background-image: -webkit-linear-gradient(left,#cddc39,#ff9800 25%,#cddc39 50%,#ff9800 75%,#cddc39);
                -webkit-text-fill-color: transparent;
                -webkit-animation: common-animation 2s infinite linear;
            }

            .nav-bar {
                position: absolute;
                right: 10%;

                .nav-item {
                    list-style: none;
                    float: left;
                    cursor: pointer;
                    margin-right: 20px;
                    border-radius: 5px;
                    padding: 5px;
                    color: #cddc39;

                    &:hover {
                        background-color: #f2b535;

                        & > a {
                            color: #fff;
                        }
                    }

                    a {
                        font-weight: 400;
                        font-size: 20px;
                        color: #f2b535;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .home-body {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        .sections {
            width: 70%;
            vertical-align: top;

            .sections-content-title {
                border-bottom: 5px solid #f2b535;
                padding: 5px;
            }

            .section-item {
                padding: 5px 5px 20px 5px;
                margin-bottom: 10px;
                height: 160px;
                border-bottom: 1px solid #bbb;
                font-size: 15px;

                & > div {
                    display: inline-block;
                }

                & > div:nth-child(1) {
                    width: 20%;
                    height: 100%;
                    vertical-align: top;
                    cursor: pointer;
                    overflow: hidden;

                    & img {
                        transition: all 0.6s;

                        &:hover {
                            transform: scale(1.4);
                        }
                    }
                }

                & > div:nth-child(2) {
                    margin-left: 10px;
                    width: 75%;

                    .section-item-description {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .summary {
            width: 30%;

            & > img {
                margin-top: 30px;
            }

            li {
                display: inline-block;
                margin-right: 20px;

                & > a > span {
                    width: 48px;
                    height: 48px;
                    display: inline-block;
                    background-size: cover;
                }
            }

            h3 {
                border-bottom: 1px solid #bbb;
            }

            section {
                padding: 5px;
                margin: 5px 0;
                margin-bottom: 50px;
            }

            .tags {
                span {
                    display: inline-block;
                    border-radius: 3px;
                    padding: 5px;
                    font-size: 12px;
                    color: #ffffff;
                    margin: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}


@import "./layout.less";
@import "./aui.less";
@import "./banner.less";
