body {
    padding: 0px;
    margin: 0px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

#app {
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}

h1,h2,h3{
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: pointer;
}

p{
    margin: 0;

}

@-webkit-keyframes common-animation {
    0% {
        background: #cddc39;
        -webkit-background-clip: text;
    }

    50% {
        background: #ff9800;
        -webkit-background-clip: text;
    }

    100% {
        background: #cddc39;
        -webkit-background-clip: text;
    }
}

.home-page {
    .header {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 60px;
        padding: 10px 0;

        .container {
            position: relative;

            h1 {
                position: absolute;
                left: 3%;
                font-family: fantasy;
                background-image: -webkit-linear-gradient(left,#cddc39,#ff9800 25%,#cddc39 50%,#ff9800 75%,#cddc39);
                -webkit-text-fill-color: transparent;
                -webkit-animation: common-animation 2s infinite linear;
            }

            .nav-bar {
                position: absolute;
                right: 10%;

                .nav-item {
                    list-style: none;
                    float: left;
                    cursor: pointer;
                    margin-right: 20px;
                    border-radius: 5px;
                    padding: 5px;
                    color: #cddc39;

                    &:hover {
                        background-color: #f2b535;

                        & > a {
                            color: #fff;
                        }
                    }

                    a {
                        font-weight: 400;
                        font-size: 20px;
                        color: #f2b535;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .home-body{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        .sections{     
            width: 70%;
            vertical-align: text-top;
            .content-title{
                border-bottom: 2px solid #eee;
                h2{
                    -webkit-text-fill-color: transparent;
                    -webkit-animation: common-animation 2s infinite linear;
                }
            }
            .section-item{
                padding: 5px;
                margin-bottom: 10px;
                &>div{
                    display: inline-block;
                }
                &>div:nth-child(1){
                    width: 15%;
                    padding-top: 15px;
                    vertical-align: top;
                    .section-item-date{
                        background-image: -webkit-linear-gradient(left,#cddc39,#ff9800 25%,#cddc39 50%,#ff9800 75%,#cddc39);
                        -webkit-text-fill-color: transparent;
                        -webkit-animation: common-animation 2s infinite linear;
                        transform: translate3d(0,0,0);
                        border-radius: 10px;
                        transition: all 0.6s;
                        cursor: pointer;
                        .section-item-date-year{
                            font-weight: bold;
                            font-size: 33px;
                        }
                        .section-item-date-others{
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                }
                &>div:nth-child(2){
                    width: 85%;
                }
            }
        }
        .summary{
            width: 30%;
        }
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 500px;

    .banner-indicators {
        position: absolute;
        bottom: 20px;
        z-index: 10;
        width: 60%;
        padding-left: 0;
        list-style: none;
        text-align: center;
        width: 25%;
        left: 42%;

        .banner-indicators-item {
            list-style: none;
            float: left;
            width: 50px;
            padding: 5px 0;
            margin: 0 2px;
            opacity: 0.5;
            border: 0;
            background-color: #fff;
            height: auto;
            border-radius: 5px;
            margin-right: 50px;
            cursor: pointer;
        }

        .active {
            background-image: -webkit-linear-gradient(left,#cddc39,#ff9800 25%,#cddc39 50%,#ff9800 75%,#cddc39);
            -webkit-text-fill-color: transparent;
            -webkit-animation: indicators-animation 2s infinite linear;
        }

        @-webkit-keyframes indicators-animation {
            0% {
                background: #cddc39;
                border: 3px solid red;
            }

            50% {
                background: #ff9800;
                border: 3px solid yellow;
            }

            100% {
                background: #cddc39;
                border: 3px solid red;
            }
        }
    }

    .banner-inner {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .banner-content {
            width: 300%;
            height: 100%;
            transform: translate3d(-66.66666666%,0,0);
            transition: transform 0.6s ease-in-out;
            -webkit-transition: -webkit-transform 0.6s ease-in-out;

            .banner-item {
                display: inline-block;
                position: relative;
                width: 33.333333333%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                
                &:nth-child(1) {
                    background-image: url('../Image/banner0.jpg');

                    .banner-item-inner {
                        .title {
                            transform: translate3d(0,130%,0);
                            transition: transform 0.3s ease-in-out;
                            -webkit-transition: -webkit-transform 0.3s ease-in-out;
                        }

                        .description {
                            transform: translate3d(95%,180%,0);
                            transition: transform 0.3s ease-in-out;
                            -webkit-transition: -webkit-transform 0.3s ease-in-out;
                        }
                    }

                    .active {
                        .title {
                            transform: translate3d(30%,350%,0);
                        }

                        .description {
                            transform: translate3d(60%,300%,0);
                        }
                    }
                }

                &:nth-child(2) {
                    background-image: url('../Image/banner1.jpg');

                    .banner-item-inner {
                        .title {
                            transform: translate3d(0,0,0);
                            transition: transform 0.3s ease-in-out;
                            -webkit-transition: -webkit-transform 0.3s ease-in-out;
                        }

                        .description {
                            transform: translate3d(95%,0,0);
                            transition: transform 0.3s ease-in-out;
                            -webkit-transition: -webkit-transform 0.3s ease-in-out;
                        }
                    }

                    .active {
                        .title {
                            transform: translate3d(30%,350%,0);
                        }

                        .description {
                            transform: translate3d(60%,300%,0);
                        }
                    }
                }

                &:nth-child(3) {
                    background-image: url('../Image/banner2.jpg');

                    .banner-item-inner {
                        .title {
                            transform: translate3d(0,0,0);
                            transition: transform 0.3s ease-in-out;
                            -webkit-transition: -webkit-transform 0.3s ease-in-out;
                        }

                        .description {
                            transform: translate3d(95%,0,0);
                            transition: transform 0.3s ease-in-out;
                            -webkit-transition: -webkit-transform 0.3s ease-in-out;
                        }
                    }

                    .active {
                        .title {
                            transform: translate3d(30%,350%,0);
                        }

                        .description {
                            transform: translate3d(60%,300%,0);
                        }
                    }
                }

                .banner-item-inner {
                    p {
                        font-size: 40px;
                        font-weight: bold;
                        color: #fff;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

@import "../Layouts/layout.less";
@import "./aui.less";