body {
    padding       : 0px;
    margin        : 0px;
    font-size     : 15px;
    position      : relative;
    padding-bottom: 150px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.padding-5 {
    padding: 5px;
}

#app {
    // font-weight: inherit;
    // font-style : inherit;
    font-family   : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
    margin-block-start: 0;
    margin-block-end  : 0;
    cursor            : pointer;
}

ul {
    margin : 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.clear-both {
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

@-webkit-keyframes common-animation {
    0% {
        background             : #cddc39;
        -webkit-background-clip: text;
    }

    25% {
        background             : #f37327;
        -webkit-background-clip: text;
    }

    50% {
        background             : #cddc39;
        -webkit-background-clip: text;
    }

    75% {
        background             : #f37327;
        -webkit-background-clip: text;
    }

    100% {
        background             : #cddc39;
        -webkit-background-clip: text;
    }
}

hr {
    position  : relative;
    height    : 1px;
    border    : none;
    border-top: 2px dashed #26272b;
    overflow  : visible;
    margin    : 20px 0;

    &::before {
        position          : absolute;
        top               : -10px;
        left              : 3%;
        z-index           : 1;
        color             : #26272b;
        content           : "\f0c4";
        font              : normal normal normal 14px/1 FontAwesome;
        font-size         : 20px;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition   : all 1s ease-in-out;
        -o-transition     : all 1s ease-in-out;
        -ms-transition    : all 1s ease-in-out;
        transition        : all 1s ease-in-out;
    }

    &:hover {
        &::before {
            position : absolute;
            top      : -10px;
            left     : 97%;
            z-index  : 1;
            color    : #26272b;
            content  : "\f0c4";
            font     : normal normal normal 14px/1 FontAwesome;
            font-size: 20px;
        }
    }
}

.other-link {
    margin: 10px 0 0 0;

    .other-link-item {
        display            : inline-block;
        margin             : 3px;
        padding            : 0 12px;
        height             : 60px;
        line-height        : 60px;
        text-align         : center;
        width              : 200px;
        background-color   : #333333;
        background-repeat  : no-repeat;
        background-position: bottom left;
        background-size    : auto;
        opacity            : .7;
        color              : #ffffff;
        font-weight        : 500;

        &:hover {
            opacity: 1;
        }
    }

    .other-link-item:nth-child(1) {
        background: url('https://www.dqhanblog.cn:4335/link/qihuan.png');
    }

}

footer {
    padding   : 30px 0;
    background: #26272b;
    margin-top: 20px;
    text-align: center;
    color     : #ffffff;
    position  : absolute;
    bottom    : 0;
    width     : 100%;

    .footer-content {
        p {
            font-size  : 0.9em;
            display    : block;
            height     : 20px;
            line-height: 20px;

            a {
                color          : #ffffff;
                text-decoration: underline;
            }
        }
    }
}

@import "./layout.less";
@import "./header.less";
@import "./summary.less";
@import "./about.less";
@import "./work.less";
@import "../JSX/Components/Content/content.less";
@import "../JSX//Promisition/forbidden.less";
@import "./login-dlaog.less";
@import "./know-more.less";
@import "./player.less";