.layout {
    .font-icon {
        cursor     : pointer;
        font-size  : 1.7rem;
        color      : #ffffff;
        margin     : 0 0.5rem;
        text-shadow: -5px 5px 0 rgba(0, 0, 0, .1);
    }

    .layout-container {
        margin-left : auto;
        margin-right: auto;

        .layout-header {
            color           : #ffffff;
            background-color: #26272b;
            height          : 400px;
            line-height     : 400px;
            width           : 100%;
            text-align      : center;
        }

        .layout-header-info {
            position   : absolute;
            top        : 100px;
            width      : 100%;
            text-align : center;
            color      : #ffffff;
            text-shadow: -5px 5px 0 rgba(0, 0, 0, .1);

            .layout-header-info-main {
                font-weight: 500;
                font-size  : 45px;
            }

            .layout-header-info-sub {
                margin   : 1rem 0;
                font-size: 20px;
            }

            .layout-header-info-link {
                li {
                    display: inline;

                    a {
                        &:hover {
                            color: #EEF;
                        }
                    }
                }
            }
        }

        .layout-user-info {
            margin     : 1rem 0;
            text-shadow: -5px 5px 0 rgba(0, 0, 0, .1);

            .layout-user-info-login-btn {
                FONT-SIZE  : 18px;
                text-shadow: -5px 5px 0 rgba(0, 0, 0, .1);
            }

            .layout-user-info-pic {
                width : 50px;
                cursor: pointer;
            }

            .layout-user-info-desc {
                display       : inline-block;
                vertical-align: text-bottom;
                font-size     : 0.8rem;
                padding       : 5px;
            }

            .account {
                padding: 3px 5px !important;
            }
        }

        .git-link {
            z-index         : 999;
            position        : fixed;
            top             : 0;
            right           : 0;
            border          : 0;
            height          : 149px;
            width           : 149px;
            background-image: url('../Image//github-link.png');
        }

        .layout-main {
            display        : flex;
            justify-content: center;

            .layout-main-content {
                flex          : 0 0 auto;
                width         : 900px;
                vertical-align: top;
            }
        }
    }
}